/* [next]/internal/font/google/montserrat_d8ddf5b0.module.css [app-client] (css) */
@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ-s.aeef3b62.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ-s.2dccaf52.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ-s.fb17f5c8.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ-s.fc1b68c1.woff2") format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y-s.p.0e0dc2a6.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ-s.aeef3b62.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ-s.2dccaf52.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ-s.fb17f5c8.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ-s.fc1b68c1.woff2") format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: __Montserrat_d8ddf5;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y-s.p.0e0dc2a6.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: __Montserrat_Fallback_d8ddf5;
  src: local(Arial);
  ascent-override: 85.79%;
  descent-override: 22.25%;
  line-gap-override: 0.0%;
  size-adjust: 112.83%;
}

.montserrat_d8ddf5b0-module__gNlkhW__className {
  font-family: __Montserrat_d8ddf5, __Montserrat_Fallback_d8ddf5;
  font-style: normal;
}

.montserrat_d8ddf5b0-module__gNlkhW__variable {
  --font-sans: "__Montserrat_d8ddf5", "__Montserrat_Fallback_d8ddf5";
}

/*# sourceMappingURL=%5Bnext%5D_internal_font_google_montserrat_d8ddf5b0_module_b52d8e.css.map*/